@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --main-color: #089bf1;
    --primary-color: #000;
    --primary-light-color: #333;
    --secondary-color: #fff;
    --light-color: #fbfbfb;
    --grey-color: #333;
    --border-color: #ddd;
    --background-color: #f5f5f5;
}
body,
input,
textarea,
button {
	font-family: 'Poppins', sans-serif;
}

body {
	font-size: 1.8rem;
	/* line-height: 1.3; */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
a {
	color: #089bf1;
}

button {
	cursor: pointer;
}

.footer-logo>svg>path {
	fill: #fff;
}

.logo-main {
	height: 1.5em;
	/* fill: white; */
	width: 4.5em;
	margin-top: 1px;
}

.logo-container {
	margin-left: 1em;
	z-index: 10000;
	/* display: flex; */
	justify-content: center;
	align-items: center;
}

.hamburger-icon i {
	color: #fff;
}

#hamburger-show-mobile {
	position: absolute;
	height: 100vh;
	top: 0;
	/* z-index: 100000; */
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 1em 0em;
	align-items: center;
	/* position: fixed; */
	width: 100%;
	z-index: 1000;
	top: 0;
	transition: 0.2s;
	color: #fff;
}

.menuItem {
	display: block;
	margin: 2rem 1rem;
	font-size: 1.4rem;
	color: black;
	text-decoration: none;
}

.menuItem:hover {
	text-decoration: underline;
}

.hamburger {
	z-index: 100;
	margin-right: 1em;
	color: #fff;
	font-size: 1.6rem;
	margin-top: -6px;
}

.hamburger-colored {
	color: #000;
}

.closeIcon {
	display: none;
}

.menu {
	position: fixed;
	transform: translateX(-110%);
	transition: transform 0.8s;
	top: -30px;
	left: 0;
	right: 0;
	bottom: 0;
	/* z-index: 10000; */
	background: url('../img/Icon-large.png'), #fff;
	background-size: cover;
	color: white;
	list-style: none;
	padding-top: 8rem;
	padding-left: 1em;
	width: 180vw;
	margin-bottom: 0;
}

.showMenu {
	transform: translateY(0);
	transition: transform 0.8s;
}

.content {
	padding: 0em 1em;
	/* background-color: #?fff; */
}


#deposit-chart, #withdraw-chart, #earnings-chart{
	background: linear-gradient(112.8deg, #c5bbbb 0.63%, #111316 100%);
}
.glance-intro {
	background: linear-gradient(180deg, rgb(243 112 39 /30%) 0%, rgb(243 112 39 / 64%) 100%), url(../img/Building.jpg);
	/* height: 100vh; */
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 4em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	display: none;
}

.btn {
	border-radius: 13px;
}

.glance-intro h1 {
	margin: 0;
	text-align: center;
	color: #fff;
	margin-bottom: 0.9em;
	font-weight: 600;
}

.glance-intro p {
	text-align: center;
	font-size: 1rem;
	color: #fff;
	font-weight: 400;
	padding-bottom: 3em;
}

.btn {
	font-size: .8rem;
	padding: 1.3em 2em;
	border: none;
	border-radius: 8px;
	font-weight: 500;
}

.btn-alt {
	color: var(--primary-color);
	background-color: #000;
	transition: 0.2s;
}

.btn-primary {
	color: #fff;
	background-color: var(--primary-color);
}

.divider {
	padding-top: 5em;
}

.blue-show {
	fill: var(--primary-color);
}

.alt-color-show {
	fill: #000;
}

.tweet-card {
	width: 100%
}

.tweet-card svg {
	width: 100%
}

.luna-explain {
	padding: 0em 0em;
}

.luna-explain-intro h1 {
	font-size: 1.6rem;
	margin-top: 1.5em;
}

.luna-explain-intro p {
	font-size: .9rem;
	margin-bottom: 2em;
}

.luna-explain-card {
	padding-right: .5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.luna-explain-main-title {
	font-size: 1rem;
}

.luna-explain-main {
	padding: 1em .9em;
	border: 1px solid #000;
	border-radius: 14px;
	box-shadow: 10px 10px 0 #000;
	margin-bottom: 2em;
	width: 75%;
}

.luna-explain-main-content {
	font-size: .9rem;
	line-height: 1.5;
}

.luna-explain-icon {
	display: flex;
	justify-content: flex-end
}

.link-underline {
	text-decoration: underline;
	font-weight: 600;
}

.luna-trust-intro h1 {
	margin-top: 0;
}

.trust-divs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0em 1em;
}

.trust-1>.trust-icon {
	background-color: #7FB4D4;
}

.trust-2>.trust-icon {
	background-color: #9B7FD4;
}

.trust-3>.trust-icon {
	background-color: #7FD488;
}

.trust-icon {
	width: 1.5em;
	height: 1.5em;
	border-radius: 9px;
	transform: rotate(45deg);
	margin-left: .3em;
}

.trust-1 {
	background: url(../img/Trustbg1.png), #C0E7FF;
}

.trust-2 {
	background: url(../img/Trustbg2.png), #D4C0FF;
}

.trust-3 {
	background: url(../img/Trustbg3.png), #C0FFC7;
}

.trust-1,
.trust-2,
.trust-3 {
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: 100px;
	background-position-y: 120px;
}

.trust-div {
	border: 1px solid #000;
	padding: 1.5em 1.2em;
	border-radius: 18px;
	box-shadow: 10px 11px 0 #000;
	margin-bottom: 2em;
	height: 7.5em;
	width: 7.5em;
}

.trust-div p {
	font-size: 1rem;
	margin-top: 2em;
	font-weight: 600;
}

.trust-div p:nth-child(3) {
	font-size: .9rem;
	margin-top: 1.5em;
	font-weight: 400;
}

.trust-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.trust-icon i {
	transform: rotate(315deg);
	margin-left: .1em;
	font-size: 1.2rem;
}

.trust-1>.trust-icon i {
	color: #406073;
}

.trust-2>.trust-icon i {
	color: #5C4883;
}

.trust-3>.trust-icon i {
	color: #488360;
}

.bch-exposure-icon-margin {
	margin: 1em 0em;
}

.bch-exposure {
	/* background-image: url('../img/BCH-icon.png'); */
	background-size: 10em 10em;
	background-repeat: no-repeat;
	background-position-x: 200px;
	background-position-y: 50px;
	position: relative;
}

.luna-plans {
	margin-top: 2em;
}

.luna-plans>.luna-trust-intro>h1,
.luna-plans>.luna-trust-intro>p {
	text-align: center;
}

.scrolling-box {
	display: flex;
	flex-wrap: wrap;
	/* overflow-x: auto; */
	padding: 1em 0em;
	justify-content: center;
}


.luna-plan p {
	display: inline;
}

.luna-plan-price-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.luna-plan {
	flex: 0 0 auto;
	width: 85vw;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 1.5em 0em;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
	border-radius: .4em;
	color: #000;
	margin-bottom: 2em;
}

.luna-plan-type {
	margin: 0 0 2em 0;
	font-size: 1.3rem;
}

.luna-plan-price-max-div,
.luna-plan-price-min-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;
}

.luna-plan-price-max-div p,
.luna-plan-price-min-div p {
	margin: 0;
}

.luna-plan-price-lvl {
	font-size: 2.5rem;
	font-weight: 600;
}

.luna-plan-price-lvl-txt {
	font-size: 1.1rem;
	margin: 10px;
}

.luna-plan-contract p {
	display: inline
}

.luna-plan-contract {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: .5em;
}

.contract-details {
	font-size: 1rem;
	margin-bottom: .5em;
	margin-top: 0;
}

.external-link {
	width: 2em;
	height: 2em;
	margin-top: .5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.external-link i {
	font-size: 1.5rem;
}

.luna-coming-soon-main-view img {
	width: 70%;
	z-index: 1;
	margin-top: 3em;
}

.luna-coming-soon-main-view {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.img-backdrop {
	width: 100%;
	height: 10.5em;
	background: linear-gradient(135.99deg, #eb6922 0%, #be4500 98.5%);
	animation: gradient 15s ease infinite;
	border-radius: .8em;
	position: absolute;
	top: 0px;
	background-size: 400% 400%;
}


.luna-coming-head {
	color: var(--primary-color);
	text-align: center;
	font-weight: 600;
	background: -webkit-linear-gradient(90deg, #5D88C6 -2.37%, #0A3472 100%);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	margin-top: 1.5em;
	font-size: 1.5rem;
}

.luna-coming-detailed {
	margin-top: 2.5em;
	text-align: center;
}

.luna-disclosure {
	padding: 1.5em 0em;
	background: linear-gradient(128.99deg, #FFA6A6 -1.07%, rgba(160, 64, 64, 0.63) 97.03%), url('../img/man-checking.png');
	margin-top: 2em;
}

.luna-disclosure>.content>h1,
.luna-disclosure>.content>p {
	color: #000;
	padding-left: 30px;
}

.luna-disclosure>.content>h1 {
	font-weight: 500;
}

footer {
	background: #000;
	padding: 1.5em 1em !important;
}

.footer-txt {
	color: #fff;
	font-size: .8rem;
	font-weight: 300;
}

.s2-shift {
	margin-top: 1.5em;
}

.luna-contact-footer {
	font-weight: 500;
}

.luna-socials {
	display: flex;
	margin: .8em 0em;
}

.social {
	width: 1.2em;
	height: 1.2em;
	background-color: #fff;
	margin-right: 0.4em;
	border-radius: 2em;
	display: flex;
	justify-content: center;
	border: 1px solid #fff;
	align-items: center;
}

.social i {
	font-size: 1.3rem;
}

.luna-contact-details a {
	text-decoration: none;
}

.luna-contact-icon i {
	color: #fff;
	font-size: 1.1rem;
}

.luna-address-email-phone p {
	font-size: .8rem;
	margin: 0;
	color: #fff;
	margin-top: .7em;
}

.luna-address-email-phone {
	display: flex;
	align-items: center;
	margin-bottom: .4em;
}

.luna-contact-icon {
	margin-right: .7em;
}

.luna-contact-details {
	width: 80%;
	margin-top: 1.3em;
}

.footer-divide {
	margin-bottom: 1.5em;
	margin-top: 2em;
}

.quick-links-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 1.3em;
}

.quick-link {
	color: #fff;
	text-decoration: none;
	font-size: .8rem;
	margin-bottom: .6em;
}

.link-section-1 {
	display: flex;
	flex-direction: column;
}

.luna-coming-soon {
	margin-top: 0em;
}

#desktop-links {
	display: none
}

.tweet-card-desktop {
	display: none
}

.bch-hang {
	position: absolute;
	right: 0;
	bottom: 0;
	top: -30px;
}

.page-about-banner-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.5em 0.5em;
	background: linear-gradient(261deg, #089bf1, #f370), url(../img/deluvio.jpg);
	background-size: cover;
	background-position: center;
	border-radius: .6em;
}

.page-about-banner-main p {
	text-align: center;
	font-size: .9rem;
	margin-top: 0;
	color: #fff;
	margin-bottom: .5em;
}

.page-about-banner {
	padding-top: 4em;
}

.page-about-banner-head {
	font-size: 1.2rem !important;
	font-weight: 700;
}

.logo-main-colored path {
	fill: initial;
}

.luna-first {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.luna-about-img-db {
	position: relative;
	display: flex;
	padding: 2em 0em;
	height: 3em;
	width: 80%;
	transform: rotate(45deg);
}

.luna-about-img {
	border: 1px solid #000;
	width: 5em;
	height: 5em;
}

.luna-about-img:nth-child(1) {
	left: 0;
}

.luna-about-img:nth-child(2) {
	/* right: 20px; */
	/* top: 0px; */
	margin-left: -2em;
	margin-top: -2em;
}

.luna-about-img-pad {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 10em;
	align-items: center;
}

.luna-disclosure-about {
	background: linear-gradient(128.99deg, #FFFFFF -1.07%, rgba(255, 240, 240, 0.63) 97.03%), url('../img/man-checking.png');
	margin-top: .5em;
}

.luna-disclosure-about>.content>h1 {
	color: #D3827F
}

.luna-disclosure-about>.content>p {
	color: #000
}

.luna-contact-boards {
	background: linear-gradient(180deg, rgba(13, 96, 216, 0.65) 0%, rgba(5, 50, 114, 0.67) 100%), url(../img/Building.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5em 1em;
	border-radius: .8em;
}

.body-target>section>.luna-explain-intro>h1 {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 1em;
}

.luna-explain-main-content {
	margin-top: 0;
}

.luna-about-contact h1 {
	margin: 2em 0em 1.5em 0em !important;
}

.luna-legal {
	margin-top: 2em;
	background: #089bf1;
	padding-top: .6em;
	padding-bottom: 1.6em;
	background-repeat: no-repeat;
	background-position: bottom right;
}

.luna-legal>.luna-explain-intro>h1,
.luna-legal>p {
	color: #fff;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.7;
}

.luna-contact-boards>.luna-contact-details {
	margin-top: 0;
	width: 100%;
}

.faq-banner-main {
	background: none;
}

.faq-page {
	background: linear-gradient(137deg, #089bf1, #f370), url(../img/luna-question.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.faq-page>.faq-banner-main>p {
	color: #000;
}

.tab-buttons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: #8494ab;
	padding: .3em 0em;
	border-radius: .3em;
	margin-bottom: 1.5em;
}

.switch-btn {
	padding: .8em 1.3em;
	font-size: .8rem;
	margin: 0em .1em;
	border-radius: .5em;
	border: none;
	color: #fff;
	background: none;
	font-weight: 500;
	transition: 0.2s;
}

.tab-switch {
	padding: 1.1em .5em;
}

.switch-btn:active {
	background: #fff;
	color: #B3AEBF;
}

.tabs-name {
	font-size: 1.1rem;
	font-weight: 400;
	text-align: center;
}

.accordion {
	max-width: 700px;
	display: flex;
	flex-direction: column;
	padding-top: 1em;
}

.accordion .item {
	box-shadow: 14px 6px 32px rgb(0 0 0 / 10%);
	padding: 0em .4em;
	cursor: pointer;
	border-top: 4px solid transparent;
	transition: 0.3s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: .4em;
	margin-bottom: .8em;
}

.accordion .item.open {
	transition: 0.3s;
}

.accordion .item.open .hidden-box {
	display: block;
	padding: 0em .4em;
}

.accordion .item.open .text {
	color: #087f5b;
}

.accordion .number {
	color: #ced4da;
}

.accordion .number,
.accordion .text {
	font-size: .8rem;
	font-weight: 500;
	width: 85%;
}

.accordion .item.open .text {
	transition: color 0.3s;
}

.accordion .icon {
	width: 24px;
	height: 24px;
	stroke: #087f5b;
	transition: transform 0.5s ease-in;
}

.accordion .item.open .icon {
	transform: rotate(180deg);
}

.accordion .hidden-box {
	grid-column: 2;
	display: none;
	transition: display 0.5 ease-in;
}

.accordion .hidden-box p {
	line-height: 1.6;
	margin-bottom: 1em;
	font-size: .8rem;
}

.accordion .hidden-box ul {
	color: #868e96;
	margin-left: 18px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.accordion-txt-svg {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
}

.missing-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5em 1em;
	background: linear-gradient(#0000001f, #0000001c), url(../img/aboutpattern.png);
	background-size: cover;
	border-radius: .6em;
}

.missing-box>div>p {
	font-size: .8rem;
	font-weight: 400;
	text-align: center;
	color: #fff;
	margin-top: 0;
}

.send-btn {
	font-size: .8rem;
	padding: .7em 1.8em;
	color: #214477;
	border: none;
	border-radius: .5em;
	backdrop-filter: blur(96px);
}

.end-box-missing {
	padding-bottom: 2em;
}

.missing-box>div {
	margin-bottom: .6em;
}

.signup-area {
	display: flex;
	flex-direction: column;
	padding-top: 2.5em;
	background: linear-gradient(180deg, rgba(13, 96, 216, 0.65) 0%, rgba(5, 50, 114, 0.67) 100%), url(../img/Building.jpg);
	background-size: cover;
}

.signup-page-container {
	height: 8em;
	padding-left: .5em;
}

.signup-logo-main {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	width: 2.5em;
	height: 2.5em;
	border-radius: .5em;
	cursor: pointer;
	transition: 0.2s;
	fill: #fff;
}

.signup-logo-main svg {
	width: 40%;
	fill: inherit
}

.signup-logo-main:hover {
	background-color: #089bf1;
	transition: 0.2s;
	fill: var(--primary-color)
}

.signup-logo-main>svg>path {
	fill: inherit
}

.signup-page-container h1 {
	font-size: 1.4rem;
	font-weight: 600;
	color: #fff;
}

.hamburger-signs {
	margin-right: 1.5em;
	/* margin-top: .5em; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.5em;
}

.hamburger-signs i {

	margin-top: .15em;

	font-size: 1.4rem;
}

.div-input {
	width: 100%;
	margin-bottom: .8em;
}

.div-input input,
.select-option {
	font-size: 1rem;
	padding: .75em 0em 0.75em .75em;
	width: 94%;
	margin: .5em 0em 0em 0em;
	outline: none;
	border-radius: .3em;
	border: 1px solid #089bf1;
	transition: 0.2s;
}

.div-input p,
.div-tick-box p {
	font-size: .8rem;
	margin-bottom: 0em;
}

.form-main {
	width: 100%;
	margin-top: 1.5em;
}

.select-option {
	font-size: 1rem;
	width: 98% !important;
	padding: .9em 0em 0.9em .7em;
}

.div-tick-box {
	display: flex;
	margin-top: 1em;
	margin-bottom: 0.7em;
}

.div-tick-box p {
	margin-top: .3em;
}

.checkbox {
	margin-right: .7em;
	width: 1.4em;
	height: 1.4em;
}

.already-account p {
	font-size: .9rem;
	text-align: center;
	font-weight: 500;
}

.already-account>p>a {
	margin-left: .3em;
}

.already-account {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

.button-signup {
	display: flex;
	justify-content: center;
	margin-bottom: 1.5em;
}

.create-btn {
	background-color: #089bf1;
	color: #fff;
}

.login-h1-reset h1 {
	margin-bottom: 0;
	margin-top: .3em;
}

.login-logo-main {
	margin-bottom: 1em;
}

.login-area {
	padding-bottom: 0em;
}

.login-btn,
.forgot-btn {
	padding: 1.3em 1em;
	font-size: .8rem;
	width: 100%;
	margin-top: 1em;
}

.forgot-btn {
	background-color: #fff;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.button-login {
	justify-content: space-between;
	flex-wrap: wrap;
}

.keep-logged {
	width: 1.4em;
	height: 1.4em;
}

.keep-ticked-box p {
	margin-top: .3em;
}

.login-section {
	align-items: center;
}

.verify-icon-others {
	padding-top: 5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em;
}

.container-img {
	width: 5.5em;
	height: 5.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5em;
	border: 2px solid #000;
	margin-bottom: .5em;
}

.container-img img {
	width: 80%;
}

.verify-icon-others h1 {
	font-size: 1.1rem;
	font-weight: 500;
	color: #000;
	text-align: center;
}

.verify-icon-others p {
	font-size: .9rem;
	text-align: center;
	margin-top: .2em;
}

.input-accept-main {
	font-size: 1.5rem;
	text-align: center;
	width: 1.2em;
	padding: .4em;
	border-radius: .2em;
	border: 1px solid #000;
	margin: 0em .2em 0em .2em;
}

.input-accept {
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
}

.verify-input {
	margin-bottom: 2em;
}

.external-dash-btn {
	background-color: #000;
	padding: .9em 2.6em;
}

.account-overview {
	padding-top: 5em;
	padding-bottom: 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fff;
	color: #000;
}

.account-balance-txt {
	font-size: .9rem;
	margin: 0 0 .5em 0;
	font-weight: 400;
}

.account-balance-update {
	margin-top: 1.5em;
	font-size: .9rem;
	font-weight: 300;
}

.account-balance-fig {
	margin: 0;
	font-size: 2rem;
	font-weight: 300;
}

.account-balance-fig span {
	color: #ADADAD;
}

.tab p {
	font-size: 1.1rem;
	font-weight: 600;
	margin-top: 0.4em;
	margin-bottom: 0;
}

.tabs {
	position: relative;
	top: -39px;
	z-index: 100;
	border-radius: 32px;
	/* padding: 1em 1em 2em 1em !important; */
	background-color: #d2d2d3;
}
.tab-main-overview {
	background-color: #090813 ;
}
.box {
	width: 8em;
	height: 6em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: .5em .8em;
	border-radius: 12px;
	color: #000;
	flex: 0 0 auto;
}

.section-tab-title {
	padding: 2.2em 0em 0em 1.8em !important;
	margin-bottom: 1em !important;
}

.inv-active {
	background: linear-gradient(113.25deg, #e7ebed 0%, #2d2d3c 100%);
	margin-right: .6em;
	height: 6em;
}

.box-title {
	font-weight: 300 !important;
	font-size: .9rem !important;
	margin-bottom: 1.7em;
	margin-top: 0.7em !important;
}

.no-inv-active {
	font-size: .8rem !important;
	margin-top: 2em !important;
}

.inv-btn-small {
	padding: 0.6em 2em;
	height: 2.5em;
	font-size: .8rem;
	border-radius: 4px;
	margin-bottom: .5em;
	background: rgba(255, 255, 255, 0.31);
	color: #000;
}

.btn-contain-box {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-bottom: .5em;
}

.scroll-invs {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	/* margin-top: 1em; */
}

.scroll-invs::-webkit-scrollbar {
	display: none;
}

.inv-active:nth-child(1) {
	margin-left: .9em;
}

.ab-a {
	margin-bottom: .6em;
}

.ab-a p {
	font-size: .8rem;
	margin-bottom: 0;
	font-weight: 300;
}

.inv-detailed {
	justify-content: flex-start;
	width: 6em;
	background: #5F519A;
}

.inv-detailed>div>p {
	margin-bottom: .7em;
}

.ab-a p:nth-child(2) {
	font-size: 1.1rem;
	margin-top: 0.2em;
	font-weight: 500;
}


.ab-b p {
	color: #000;
}

.selected-plan {
	font-size: 1rem !important;
	font-weight: 300 !important;
}

.plan-active {
	margin-bottom: .3em;
	font-size: 1.35rem !important;
}

.box-plan-reset {
	margin-bottom: 1.3em;
}

.inv-active-now {
	background: linear-gradient(113.25deg, #e7ebed 0%, #2d2d3c 100%);
}

.inv-active-now-sub {
	background: linear-gradient(113.25deg, #e7ebed 0%, #2d2d3c 100%)
}

.btn-contain-box p {
	font-size: .8rem;
	font-weight: 300;
	margin: 0;
}

.btn-contain-box p>span {
	margin-left: .3em;
	font-weight: 500;
}

.quick-task-icon {
	width: 2.2em;
	height: 2.2em;
	border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EAF3FF;
	border: 2px solid;
	transition: 0.3s;
}

.quick-task-icon:hover {
	background: var(--primary-color);
	color: #fff;
	transition: 0.3s;
}

.quick-tasks-dash a {
	text-decoration: none;
	margin-left: 0.2em;
	margin-right: 0.2em;
	flex: 0 0 auto;
}

.quick-tasks-dash {
	/* margin-left: 1em; */
	display: flex;
	justify-content: flex-start;
	margin-top: 1em;
	overflow-x: auto;
	flex-wrap: nowrap;
}

.quick-task-main p {
	font-size: .7rem;
	color: #000;
	font-weight: 400;
}

.quick-task-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}

.price-chart-intro {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
	align-items: center;
}

.tabs-overview {
	padding: 0em 1em;
	margin-top: 1.5em;
}

.price-low-high {

	display: flex;

	flex-direction: column;

	align-items: center;
}

.tab-main-graph {
	display: none;
	background-color: #090813 ;
}

.tab-main-tasks {
	background-color: #090813 ;
}

.tab-main-stats {
	background-color: #090813 ;
}


.price-low-high p {

	margin-bottom: 0;

	font-size: 1rem;

	color: #415E89;
}

.price-low-high p:nth-child(2) {

	font-size: .8rem;

	margin-top: 0;

	font-weight: 400;

	color: #089bf1;
}

.price-chart-detailed {

	padding: .7em .8em;

	background: #EBF3FF;

	align-items: center;

	border-radius: .3em;
}

.price-chart-main {
	height: 10em;
	border-radius: .5em;
	/* background: #ebf3ff; */
	margin-top: .7em;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	box-shadow: 0px 1px 20px #00000017;
	padding-top: .5em;
}

.price-chart-details {
	margin-top: .5em;
}

.price-atm {
	color: #415E89;
}

.dp-wt-det {

	background: #fff;

	box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.15);

	color: #000;

	height: 15em;

	width: 9em;
}

.box-other-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .8em;
	flex-wrap: wrap;
	height: 1.7em;
}

.box-details-main {
	/* display: flex; */
	/* flex-direction: column; */
	color: rgba(114, 156, 205, 1);
}

.box-details-main p {

	font-size: .8rem !important;

	font-weight: 300;

	margin-bottom: 0;
}

.box-details-main p:nth-child(2) {

	font-size: 1.1rem !important;

	font-weight: 500;
}

.dp-wt-scroll {
	padding-bottom: 1em;
	padding-top: .5em;
}

.box-graph {

	height: 8em;

	display: flex;

	justify-content: center;
}

#render svg {
	width: 100%;
	height: 10em;
}
.withdrawls-details-color-1{
	color: #56957e;
}
.withdrawls-details-color-2{
	color: #72cdac;
}

.box-graph canvas {

	height: 7.5em !important;

	width: 7.5em !important;
}

.deposit-details-color-1 {
	color: rgba(74, 112, 156, 1);
}

.deposit-details-color-2 {
	color: rgba(114, 156, 205, 1);
}

#chart>div {
	width: 100% !important;
}

#chart {
	width: 100%
}

#chart>div>svg {
	width: 100% !important;
}

.alt-menu {

	background: url('../img/Icon-large-alt.png'), #000;

	background-size: cover;
}

.alt-menu>li>a {
	color: #fff;
}

.logout-btn {
	font-size: .7rem !important;
	font-weight: 500 !important;
	margin-left: .6em;
	transition: 0.2s;
}

.logout-btn:hover {
	color: #fff;
	transition: 0.2s;
	background-color: #ed844c;

}

.quick-task-icon i {
	font-size: 1.5rem;
}

.deposit-others {
	background: #F4F4F4;
}

.pad-account {
	padding-top: 4em;
	padding-left: 1em;
	padding-right: 1em;
}

.other-account-display p {
	font-size: .8rem;
	margin: 0;
	font-weight: 300;
}

.other-account-display p:nth-child(1) {
	margin-bottom: .3em;
	font-weight: 500;
}

.other-account-display p:nth-child(2) {
	font-size: 2rem;
}

.other-account-display span {
	color: #ADADAD;
}

.page-info-other p {

	font-size: 1.3rem;

	font-weight: 600;

	margin-bottom: 0;
}


.page-info-other p:nth-child(2) {

	font-size: .8rem;

	font-weight: 400;

	margin-top: .8em;
}

.tippity-tap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.tap-tap {
	padding: .5em 0em;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 6px;
	margin-bottom: .6em;
	transition: 0.3s;
}

.tap-tap p {
	font-size: 1rem;
	margin: 0;
	text-align: center;
}


.card-input:hover {
	cursor: pointer;
}

.card-input-element:checked+.tap-tap {
	box-shadow: 0 0 0 3px var(--primary-color-alt);
	background: inherit;
	transition: 0.3s;
	color: #fff;
	background: #000;
}

.pay-title {
	text-align: center;
	font-size: 1.5rem;
}

.card-input-element {
	display: none
}

.tap {
	width: 30%;
}

.section-deposit {
	margin-top: 1.5em;
}

.throw-kibble p {
	font-size: .8rem;
}

.number-input {
	font-size: .8rem;
	width: 90%;
	outline: none;
	border: 1px solid #898989;
	border-radius: 5px;
	background: transparent;
	transition: 0.2s;
	padding: 1em;
}

.number-input:focus {
	background: #fff
}

.protein-walls {
	background: #000;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.2em;
	padding: 0em .5em;
	margin-right: .5em;
	height: 1.6em;
}

.protein-walls p {
	font-size: .8rem !important;
	margin: 0;
}

.protein-convert {
	display: flex;
	align-items: center;
	margin-top: .5em;
}

.protein-convert p {
	font-size: 1rem;
}

.digest-kibble {
	margin-top: 1.5em;
}

.wag-wag {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.5em;
}

.wag-roll {
	background: var(--primary-color);
	border: 5px solid #089bf1 !important;
	color: #fff;
	padding: 1em 3.5em;
	transition: 0.2s;
}

.wag-roll:hover {
	border: 5px solid #135ac1 !important;
	transition: 0.2s;
}

.woof-woof p {
	margin-top: 1em;
	font-size: .8rem;
	margin-bottom: 2em;
}

.make-payment-info p {
	text-align: center;
}

.pad-pay {
	padding: 4em 1em 0em 1em;
}

.happy-wag {
	text-align: center;
	margin-top: 1.5em;
}

.happy-wag p {
	margin: 0;
	font-size: 1.1rem;
}

.happy-wag p:nth-child(1) {
	margin-bottom: .3em;
}

.happy-wag p:nth-child(2) {
	font-size: 1.6rem;
	font-weight: 600;
}

.happy-wag p:nth-child(2) span {
	font-size: 1.1rem;
	font-weight: 400;
}

.chip-display {
	margin-top: 1.2em;
}

.chip-qr-display {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	height: 11em;
	border-radius: 20px;
}

.chip-qr-display img {
	width: 80%;
	/* height: 80%; */
}

.chip-address-display p {
	font-size: 1.1rem;
	text-align: center;
	margin-bottom: 0;
	font-weight: 600;
}

.chip-address-display p:nth-child(2) {
	font-size: 1rem;
	word-break: break-all;
	text-align: center;
	margin-top: .2em;
	font-weight: 400;
}

.wag-roll-again {
	background-color: #fff;
	color: #000;
	border: none !important;
	box-shadow: 0px 5px 13px #00000042;
	padding: 0.9em 2em;
	font-weight: 600;
	font-size: .8rem;
}

.chip-address-display {
	margin-bottom: 0em;
}

.chip-display>.throw-kibble {
	margin-top: 2em;
}

.chip-display>.woof-woof {
	margin: 1.3em 0;
}

.chip-display>.wag-wag {
	margin-bottom: 1em;
}

.chip-display>.wag-wag-again>.wag-roll {
	padding: 0.5em 2em;
}

.chip-display>.wag-wag-again {
	margin-bottom: 3em;
	margin-top: 1.5em;
}

.deposit-container-img {
	width: 6.5em;
	height: 6.5em;
	background: #fff;
}

.deposit-container-img img {
	width: 69%;
}

.deposit-successful-btn {
	background-color: var(--primary-color);
}

.wallet-input-display {
	font-size: .8rem;
	padding: 1em;
	color: #55618A;
	background: #D4DEFF;
	border: 1px solid #D4DEFF;
}

.section-withdraw {
	margin-top: 1em;
}

.pad-withdraw {
	padding: 4em 1em 0em 1em;
}

.section-withdraw>.throw-kibble:nth-child(2) {
	margin-top: 0em;
}

.woof-woof-cutie {

	display: flex;

	margin-top: .5em;

	margin-bottom: .5em;
}

.woof-woof-cutie p {

	margin-top: 0;

	color: #868DA4;
}

.attack-then-woof {
	width: auto;
	/* height: 100%; */
	margin-right: .3em;
}

.attack-then-woof>div {
	width: .4em;
	height: .4em;
	border-radius: 5em;
	background: var(--primary-color);
	margin-top: .26em;
}

.you-short-dog {
	margin-top: 1.2em;
}

.digest-kibble-again {
	margin-top: 1em;
	margin-bottom: 2em;
}

.pad-withdraw-confirm>.page-info-other {
	text-align: center;
	margin-bottom: 1.5em;
}

.throw-up-urgh {
	margin-top: 2em;
}

.throw-up-urgh>.wag-wag>.wag-roll {
	background-color: #000;
	border: 1px solid #000 !important;
	padding: 0.8em 2.5em;
}

.logo-emb {
	display: flex;
	justify-content: center;
	margin-bottom: 1.3em;
}

.logo-emb>div {
	width: 3em;
	height: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.09);
	border-radius: 20px;
}

.logo-emb>div>svg {
	width: 50%;
}

.withdraw-container-img img {
	width: 60%;
}

.invest-plan {
	padding: .7em .4em .7em .8em;
	background: #fff;
	border-radius: 13px;
	color: #7997C1;
	margin-right: .6em;
	box-shadow: 0px 4px 24px rgba(173, 173, 173, 0.25);
	border: 2px solid #fff;
	transition: 0.2s;
	cursor: pointer;
}

.invest-plan div:nth-child(2) {
	display: flex;
}

.invest-plan div:nth-child(2)>p {
	font-size: 1.9rem;
	margin-right: .6em;
	font-weight: 600;
	margin-bottom: .5em;
}

.invest-plan div:nth-child(2)>p>span {
	font-size: 1.5rem;
	font-weight: 300;
}

.invest-plan p {
	margin: 0;
	font-size: 1.4rem;
	margin-bottom: .8em;
}

.invest-plan div:nth-child(3)>p {
	font-size: 1.2rem;
	margin-right: .6em;
	margin-bottom: .5em;
}

.invest-scroll {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	padding: 1em 0em;
}

.invest-scroll::-webkit-scrollbar {
	width: 0;
}

.invest-item {
	flex: 0 0 auto;
}

.invest-item:nth-child(1) {
	margin-left: 1em;
}

.section-invest {
	margin-top: 1em;
}

.card-input-element-2 {
	display: none;
}

.card-input-element-2:checked+.invest-plan {
	border: 2px solid #7997C1;
	transition: 0.2s;
}

.transactions-dsp {
	margin: 1em 0em;
}

.transactions-dsp div {
	display: flex;
	/* justify-content: space-between; */
	padding: .3em .5em;
	background-color: #C7D3D3;
	align-items: center;
	border-radius: 8px;
	margin-bottom: .5em;
}

.transactions-dsp>div>p {
	font-size: .8rem;
	font-weight: 500;
	color: #7e52b9;
}

.transactions-dsp>div>p:nth-child(1) {
	width: 60%;
}

.transactions-dsp>div>p:nth-child(2) {
	width: 40%;
	text-align: right;
}

.no-transaction-img img {
	width: 100%;
}

.transaction-icon-other {
	margin-bottom: 0;
}

.profile-display>form>.div-input {
	width: 100%;
}

.div-input>div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.div-input>div>a {
	margin-left: .5em;
	margin-top: .3em;
	border-radius: .2em;
	transition: 0.2s;
}

.edit-icon {
	width: 2em;
	height: 1.7em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.edit-icon i {
	font-size: 1.5rem;
}

.div-input>div>a:hover {
	background: #ffffff;
	color: #8a95bb;
	transition: 0.2s;
	border: 2px solid #d4deff;
}

.profile-display {
	margin-bottom: 3em;
}

.forgot-password-explain p {
	font-size: 1rem;
	text-align: center;
}

.reset-btn {
	margin-top: 1.5em;
}

.reset-btn-main {
	padding: .9em 3em;
	background: #000;
	border: 1px solid #000 !important;
	transition: 0.2s;
}

.reset-area {
	background: linear-gradient(180deg, rgb(108 108 108 / 65%) 0%, rgb(0 0 0 / 67%) 100%), url(../img/Building.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/* filter: grayscale(1); */
}

.div-input input:focus,
.select-option:focus {
	border: 1px solid #000;
	transition: 0.2s
}

.link-sent-btn {
	padding: .9em 3.6em;
}

.reset-area-link-sent {
	display: none;
}

.hamburger-signs-reset {
	margin-top: 0;
}

.section-withdraw>.throw-kibble {

	margin-top: 0em;
}

.section-change-password>.throw-kibble>.number-input {
	padding: .9em 1em .9em 1em;
	margin-bottom: 1em;
}

.throw-up-urgh>.wag-wag>.wag-roll:hover {
	background: #fff;
	color: #000;
	border: 1px solid #000
}

.reset-btn-main:hover {
	background: #fff;
	color: #000;
	border: 1px solid #000
}

.quick-tasks-dash a:nth-child(1) {

	padding-left: 1em;
}

.module-bottom {
	transform: translateY(150px);
}

.module-bottom.show {
	animation: come-in 0.8s ease forwards;
}

.module-bottom.show:nth-child(even) {
	animation: come-in 1.1s ease forwards;
}

@keyframes come-in {
	to {
		transform: translateY(0);
	}
}

.module-left {
	transform: translateY(150px);
}

.module-left.show {
	animation: come-in 0.8s ease forwards;
}

.module-left.show:nth-child(even) {
	animation: come-in 1.1s ease forwards;
}

@keyframes come-in {
	to {
		transform: translateY(0);
	}
}

.js-scroll {
	opacity: 0;
	transition: opacity 500ms;
}

.js-scroll.scrolled {
	opacity: 1;
}

.scrolled.fade-in {
	animation: fade-in 1s ease-in-out both;
}                                      

.scrolled.fade-in-bottom {
	animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
	animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
	animation: slide-in-right 1.5s ease-in-out both;
}

@keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(150px);
		transform: translateY(150px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.btn-alt:hover {
	color: #000;
	transition: 0.2s;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.rainbow {
	-webkit-animation: rainbow 8s ease infinite;
	animation: rainbow 8s ease infinite;
	background-image: linear-gradient(124deg, #ff470f, #ff3860, #b86bff, #3273dc);
	background-size: 800% 800%
}

@-webkit-keyframes rainbow {
	0% {
		background-position: 1% 80%
	}

	50% {
		background-position: 99% 20%
	}

	100% {
		background-position: 1% 80%
	}
}

@keyframes rainbow {
	0% {
		background-position: 1% 80%
	}

	50% {
		background-position: 99% 20%
	}

	100% {
		background-position: 1% 80%
	}
}

.navbar.scrolled+.alt-color-show-scroll {
	background-color: #fff !important;
	transition: background-color 200ms linear;
	color: #000;
}

.blue-show-scroll {
	fill: #089bf1;
}

.alt-color-show-scroll {
	fill: #000 !important;
}

.handle {
	display: flex;
	justify-content: center;
	/* position: fixed; */
	width: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	/* transform: translateY(-170px); */
	transition: transform 1s ease-out;
}

.handle p {
	font-size: .9rem;
	text-align: center;
	font-weight: 500;
	color: #fff;
}

.inner-handle {
	background-color: #ff7d7d;
	/* border-radius: 4px; */
	/* margin-top: 1em; */
	width: 100%;
}

.navbar-colored {
	color: #000;
}

.navbar-colored>.logo-container>.logo-main>.alt-color-show {
	fill: #000;
}

.logout-verify-btn {
	padding: 1em 2em;
	margin-bottom: 1em;
	border-radius: 6px;
	background: #c8deff;
	color: #089bf1;
}

.too-much {
	padding-top: 0em;
}

.other-page-handle {
	/* position: fixed; */
	/* margin-top: -1.5em; */
	/* margin-bottom: 1.5em; */
	right: 0;
	/* display: none; */
}

.slidedown {
	transform: translateY(0px);
	/* transform: translateY(-170px); */
}

.slideup {
	transform: translateY(-170px);
	/* transform: translateY(-170px); */
}

.nav-txt-colored,
.nav-txt-colored>.hamburger-icon {
	color: #000;
}

.nav-txt-colored>.logo-container>svg>.alt-color-show {
	fill: #000;
}

.wag-showoff {
	margin-top: 2em;
}

.desktop-margin-top-handle {
	/* position: fixed; */
	/* margin-top: 2em; */
}

.section-change-password>form>.throw-kibble>.number-input {
	margin-bottom: 1em;
}

.talk-glance h1 {
	font-size: 3rem;
	margin-bottom: 0;
	text-align: center;
	color: var(--primary-color);
	background: linear-gradient(180deg, rgb(243 112 39 /70%) 0%, rgb(243 112 39 / 64%) 100%), url(../img/Building.jpg);
	-webkit-background-clip: text;
	background-attachment: fixed;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}

.talk-glance p {
	font-size: 1.1rem;
	margin-bottom: 2em;
	text-align: center;
	margin-top: 2.5em;
}

.talk-glance {

	padding: 0em 1em;

	/* padding-top: 4em; */

	display: flex;
	flex-direction: column;
	background: linear-gradient(128deg, #ffffff, #ffffff);
	height: 100vh;
	justify-content: center;
}

.talk-glance button {
	margin-top: 2em;
	margin-bottom: 3em;
	background: #ed844c;
	color: #fff;
}

.talk-glance button:hover {
	background: #ef6a23;
	color: #fff;
}

.nav-pad {
	background-color: #ffffffc7 !important;
	top: 12px;
	width: 95%;
	padding: 0.9em 0em .6em 0em;
	border-radius: 0em 0em 1em 1em;
	box-shadow: 0px 8px 20px #00000017;
	transition: 0.2s;
}

.nav-section {
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
	flex-direction: column;
	align-items: center;
	z-index: 1000;
}

.signup-logo {
	display: none;
}

.logo-shift {
	justify-content: flex-end;
	/* DISPLAY: NONE; */
}

.signup-logo-toggle {
	display: flex;
}

.logo-shift-initial {
	justify-content: space-between;
}

.ham-sign-scroll>#icon-switch {
	/* margin-top: 12px; */
}

.ham-sign-scroll>#icon-switch:nth-child(2) {
	/* margin-top: 6px !important; */
}

.hamburger i {
}

.closeIcon {
	margin-top: -6px !Important;
}

.ham-sign {
	color: #ffffff;
}

.ham-sign-scroll {
	color: #000;
}

.highcharts-title {
	display: none !Important;
}

.price-chart {

	margin-top: 2.2em !important;

	margin-left: 0.4em;
}

#override>.btcwdgt-header {
	background: var(--primary-color) !important;
}

#override>.btcwdgt-header>h2 {
	background-color: #0a4aa7 !important;
}

#override>.btcwdgt-header>h4 {
	color: #fff !important;
}

#override>.btcwdgt-header>.stats>div {
	color: #fff !important;
}

#override>.btcwdgt-footer {
	display: none !important;
}

.dashboard-logo-container>svg>.alt-color-show {
	fill: #fff;
}

.dashboard-logo-container>svg>.blue-show {
	fill: #fff;
}

.social:hover {
	background: #1d54a3;
	border: 1px solid #fff;
	transition: 0.2s;
	color: #fff
}

.most-popular {
	font-size: .9rem;
	background: #ffe42b;
	color: #a3921e;
	padding: .5em 1.3em;
	margin-bottom: 1.5em;
}

.luna-plan-popular-reset {
	margin-bottom: 1em;
}

.logo-dash-switch>svg>.alt-color-show {
	fill: #fff;
}

.logo-dash-switch-black>svg>.alt-color-show {
	fill: #000 !important;
}

.ham-dash-new {
	color: #000;
}

.rec-close {
	color: #fff;
	fill: #fff !important;
}

.desk-dash-menu {
	color: #fff !important;
}

.desk-dash-scroll {
	color: #000 !important;
}

.abt-faq-logo-cont>svg>.alt-color-show {
	fill: #000
}

.abt-faq-logo-cont>svg>.blue-show {
	fill: var(--primary-color)
}

.moonpay-logo {
	width: 5.5em;
	height: 1.6em;
	background: #000;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	align-items: center;
	cursor: pointer;
	fill: #fff;
	transition: 0.3s;
}

.moonpay-logo:hover {
	background: #fff;
	box-shadow: 0px 6px 20px #00000029;
	transition: 0.3s;
	fill: #000;
}

.moonpay-logo svg {
	width: 60%;
	fill: inherit;
	height: 100%;
}

.moonpay-logo>svg>path {
	fill: inherit;
}

.moon-pay p {
	font-size: .8rem;
	text-align: center;
	margin-bottom: 3em;
}

.moon-pay {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.max-w-full {
	height: 90%;
	border: none;
	border-radius: 0.5em;
	width: 95%;
}

.moonpay-modal {
	display: none;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100000;
	background: #79797973;
}

.moonpay-iframe {
	width: 85vw;
	background: #fff;

	height: 75vh;

	display: flex;

	justify-content: center;

	align-items: center;

	border-radius: .5em;

	transition: 0.2s;
}
.scrolling-box>a{
	text-decoration: none;
}
.nav-pad>#hamburger-icon{
	margin-top: 8px;
}
.hideaway-blue{
	background-color: rgb(234 112 39);
	margin-bottom: 10px;
}
.navbar-pushed{
	background-color: #f4f4f4;
	padding: 0.9em 0em .6em 0em;
}
.rem-time-avail{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .2em;
}
.inv-btn-small svg, .recommit-btn-main>svg{
	width: 1.5em;
	height: 1.5em;
}
.recommit-btn{
	padding: 0em 2em;
}
#spinner-circle{
	display: block;
}
.img-box{
	background: url(../img/recommit.webp);
	height: 7em;
	border-radius: .5em;
	background-size: cover;
	background-position: center;
}
.recommit-info{
	display: flex;
	flex-direction: column;
	width: 90%;
	background: #fff;
	border-radius: .5em;
}
.modal-recommit{
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 100;
	top: 0;
	visibility: hidden;
	opacity: 0;
	align-items: center;
	justify-content: center;
	background: #181818b8;
	/* visibility: hidden;
	opacity: 0; */
	transition: visibility 0s, opacity 0.5s linear;
}
.recommit-text-btn>p{
	font-size: .8rem;
	margin-bottom: 2.5em;
}
.recommit-text-btn{
	
padding: 1em .8em;
	
display: flex;
	
flex-direction: column;
	
align-items: center;
}
.recommit-btn-main{
	width: 12em;
	background: var(--primary-color);
	color: #fff;
}
.close-btn-recommit{
	display: flex;
	justify-content: flex-end;
	color: #fff;
	width: 85%;
	margin-bottom: 1em;
}

.modal-display{
	display: none;
	opacity: 1 !important;
	visibility: visible !important;
	/* transition: visibility 0s, opacity 0.5s linear; */
	animation: fadeIn 0.5s;
}

@keyframes fadeIn {
	from {
		 opacity: 0;
	}

	to {
		 opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		 opacity: 1;
	}

	to {
		 opacity: 0;
	}
}
.dash-display{
	display: none !important;
}
.dash-display-visible{
	display: flex;
}
.earnings-color-1{

color: #665695;
}
.earnings-color-2{
	
color: #b072cd;
}
.hide-input {
	height: 0%;
	opacity: 0;
}
#copy-link-aff:hover{

border: 5px solid #000000 !important;

background: #000;

color: #fff;
}
.moon-pay-area p{
	margin-bottom: 2em;
	font-weight: 600;
}
.verify-icon-reset{
	padding-top: 1em;
}
.deposit-icon-others{
	padding-top: 4em;
}
.recommit-bln{
	font-size: 1.5rem;
}
.recommit-bln-txt{
	font-size: .8rem;
	margin-left: .4em;
}